# IntelliJ IDEA
.idea
.fleet
.cursor

# Obfuscation
pyarmor_runtime_*

# Temporary ditectories
tmp*
/dagster/
# Helm
charts/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
bin/
build/
!.github/actions/build/
!.gitlab/actions/build/
develop-eggs/
dist/
eggs/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
static/downloads/*

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Translations
*.mo

# Django stuff:
*.log
*.pot

# MacOs
.DS_Store

# Virtual environment
.venv
venv

# Local dotenv changes
.env
.env.*

versioned/
/collected_static/
